:root {
    --color1: #05b1b1;
    --color2: #057ab1;
}
header {
    padding: 30px;
}
body {
    background: #eee;
}
button {
    padding: 10px;
}
header {
    padding: 70px 0;
}
header {
    background: var(--color1);
    background: -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: -webkit-linear-gradient(left, var(--color1) 0%,var(--color2) 100%);
    background: linear-gradient(to right, var(--color1) 0%,var(--color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color1), endColorstr=var(--color2),GradientType=1 );

}
.buttonStart {
    background-color: var(--color1);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    cursor: pointer;
    margin: 30px auto;
    transition: all 0.2s ease;
}

.buttonStart:hover {
    background-color: var(--color2);
}

.ruleButton {
    background-color: var(--color1);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    transition: all 0.2s ease;
}
.hideText {
    display: none;
    align-content: center;
}
